#introduction {
  background: linear-gradient(rgba(100,181,246 ,1), rgba(0,0,0,0.8)), 
              url('../img/background.jpg') 0% 0%/cover 
}
.fill-viewport {
  min-height: 100vh 
}
.text-white-70 {
  color: rgba(255,255,255,0.7)
}
.text-black-40 {
  color: rgba(0,0,0,0.4)
}

.fill-80-viewport {
  min-height: 80vh
}
#info-3 {
    background: linear-gradient(rgba(100,181,246 ,0.3), rgba(0,0,0,0.8)),url(../img/foto.jpg) 0% 0%/cover;
}
@media screen and (min-width: 768px ){
  .basis-md-50 {
	flex-basis: 50%
  }  
}
.text-white-40 {
  color: rgba(255,255,255,0.4)
}
.list-border-y li {
  border-top: 1px solid
}
.list-border-y li:last-child {
  border-bottom: 1px solid
}
.list-border-black-20 li,
.list-border-black-20 li:last-child{
  border-color: rgba(0,0,0,0.2)
}




